


@media screen and (max-width: 1041px) {
    .about-para{
        font-size: 16px;
    }   
    .about-item-img{
        font-size: 25px;
    }

    .about-item-img-1{
        height:40px;
        width: 40px;
    }

    .section-about__img{
        width: 70%;
        
    }

    .about-image-2 {
        top: -34px;
        left: -130px;
    }

    .accessories-item-img{
        height: 150px;
    }
    

  
}

@media screen  and (max-width: 768px) {
    .nav-bar{
        padding: 20px 0;
    }
    .about{
        padding: 50px 0;
    }
    .section-about__img{
        width: 100%;
        height: 300px;
        
    }

    .about-content-3{
        height: 200px;
    }

    

    .about-image-2 {
       position: static;
       border: 0;

    }

    .all-catogories{
        font-size: 36px;
    }

    .accessories-btn{
        padding: 5px 8px;
    }

    .accessories-name{
        font-size: 12px;
    }

    .accessories-title{
        font-size: 20px;
        
    
    }

    .search-bike{
        width: 150px;
    }

    .search-bike{
        width: 100%;
    }
    
    .accessories-item{
        padding: 10px;
    }
    
}





/* phone  size  */


@media(max-width: 550px){
 
    .logo{
        height: 30px;
    }

    .hero-section{
        height: 100dvh;
    }

    .hero-para{
        font-size: 30px;
        letter-spacing: 5px;
    }

    .title{
        font-size: 30px;
        
    }

    .about-para{
        font-size: 16px;
    }

    

    .about{
        padding: 50px 0;
    }

    .section-about__img{
        height: 200px;
    }
    .about-subtitle{
        font-size: 20px;
    }

    .hero-tag-main{
        padding: 0;

    }

    .hero-tag-title{
        font-size: 16px;
    }

    .All-btn{
        padding: 15px 0;
    }

    .All-btn a{
        font-size: 14px;
        font-weight: 500;
        padding: 0 20px;

    }
    
    /* fetaure  */

    .feature-container{
        padding: 50px 0;
    }

    .feature-title{
        font-size: 26px;
    }

    .feature-para{
        font-size: 14px;
    }

    .feature-item{
        padding: 10px;
    }

    .feature-item-img{
        height: 150px;
    }

    .scroll-up{
        bottom:15px;
        right: 15px;
    }
}
