@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,p,h1,h2,h3,h4,h5,h6,ul,li,ol{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat", sans-serif;
    
}

:root{
    
    --secondary-color:#dd4024;
    --primary-color:#2F2E34;
    --white-shade:#efefef;
    --text-color:#2F2E34;
    
    
    
}

body{
    position: relative;
    background-color: var(--primary-color);
}


/* navigaition */



.navigation{
  position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   
 }

 .nav-bar{
  padding: 40px 0px;
 }




 .logo{
   height: 40px;
 }

 

 .logo img{
   object-fit: cover;
   z-index: 2  ;
 }

 .search-box {
   border: none;
   outline: none;
   box-shadow: none;
   width: 250px;
 }
 .search-box:focus {
   border: none;
   outline: none;
   box-shadow: none;
 }

 .search-box::placeholder {
   color: #ccc;
   font-size: 16px;
   font-weight: 200;
 }

 .search-box:focus::placeholder {
   color: transparent;
 }

 .search-container {
   border: 1px solid #ccc;
   padding: 8px 16px;
   display: flex;
   align-items: center;
 }

 .divider {
   height: 24px;
   width: 1px;
   background-color: #ccc;
   margin: 0 12px;
 }

 .search-icon {
   font-size: 18px;
   color: #333;
   cursor: pointer;  
 }

 .nav-items-list{
   gap: 40px;
 }

 .nav-item{
   font-size: 16px;
   font-weight: 300;
   color: var(--text-color);
   text-transform: uppercase;
   text-decoration: none;
   transition: all 0.3s ease;
   position: relative;
  


 }

 .nav-item:hover{
   color: var(--primary-color);

   
 }


 .nav-item::before{
   content: "";
   position: absolute;
   width: 0;
   height: 2px;
   background-color: var(--primary-color);
   bottom: -5px;
   left: 0;
   transition: all 0.2s ease;
 }

 .nav-item:hover::before{
   width: 100%;
 }

 .bar {
   /* width: 25px; */
   cursor: pointer;
 }

 
/* hero section */

  .hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .hero-title{
    font-size: clamp(60px, 15vw, 200px);
    font-weight: 900;
    line-height: 0.9;
    color: var(--text-color);
    text-transform: uppercase;
  }

  .hero-para{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 10px;
    color: var(--text-color);
    text-transform: uppercase;
    z-index: 7;
  }
  

  .hero-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-container .fake-div{
    background-color: #2f2e3492;
    backdrop-filter: blur(1px);
  }


.hero-section {
    height: 100vh;
    position: relative;
    background-color:#efefef ;
  }

  .hero {
    height: 100%;
    padding: 50px 0;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;


  }

  
 

  .hero-tag{
    right: 0;
    top: 25%;
    z-index: 2;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px #0000004a;

  }
  .divider2 {

    width: 1px;
    background-color: var(--white-shade);
    
  }

  .All-btn{
    background-color: #dd4024;
    padding: 20px 100px;
    color: #efefef;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    
  }


  .hero-content2{
    width: 0%;
    position: absolute;
    right: 0;
    background-color: violet;
  }

  .hero-content2-1{
  
    position: relative;
    background-color: #dd4024;
    width: 0%;
  }
 



  .time-cs{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
    position: absolute;
    rotate: 90deg;
    white-space: nowrap;
    right: -188px;
    
  }

  .fake-div{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ed142399;
    backdrop-filter: blur(4px);
  }


  /* about-section */

  .about-section{
    position: relative;
    
    
  }

  .about{
    padding: 100px 0;
  }

  .about-img{
    position: relative;
  }

  .bike-about{
    /* position: absolute; */
    object-fit: contain;
   
  }

  .title{
    font-size: 60px;
    font-weight: 600;
    color: var(--white-shade);
    text-transform: uppercase;
    position: relative;
    
  }

  .title::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    background:linear-gradient(to right, #dd4024, #ffa013); ;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;

  }



  .about-para{
    font-size: 18px;
    font-weight: 400;
    color: var(--white-shade);
    text-wrap: wrap;
    text-wrap-style: balance;

  }

  .about-tagline{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 2;

  }

  .sama{
    color: transparent;
    background-image: linear-gradient(to right, #dd4024, #ffa013);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;

  }

  .about-des{
    font-size: 30px;
    font-weight: 600;
    color: var(--white-shade);
    line-height: 30px;
    
  }

  

  .btn-secondary{
    background: linear-gradient(to right, #dd4024, #ffa013);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--white-shade);

  }

  .highlights{
    color: var(--secondary-color);
  }
  
  .grid-item{
  background: var(--white-shade);
  padding: 30px 10px;
  border-left: 5px solid #dd4024;
  border-radius: 20px;
  text-align: center;
  }

  .about-btn-link{
    text-decoration: none;
    color: var(--white-shade);
    font-size: 16px;
  }


  
  



