@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,p,h1,h2,h3,h4,h5,h6,ul,li,ol{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat", sans-serif;
    
}

:root{
    
    --secondary-color:#dd3e22;
    --primary-color:#2f2e33;
    --white-shade:#f0f0f0;
    --para-shade: #787878;
    --text-color: #d8c7fc;

    
    
    
}

body{
    position: relative;
    background-color: var(--primary-color);
}

/* scroll  */
.scroll-up {
  background-color: var(--secondary-color, #fff);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--black-shade);
  font-size: 24px;
  opacity: 0;
  pointer-events: none;
}

.scroll-up.show {
  opacity: 1;
  pointer-events: auto;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.progress-ring-bg,
.progress-ring-circle {
  fill: none;
  stroke-width: 2;
  r: 26;
  cx: 30;
  cy: 30;
}

.progress-ring-bg {
  stroke: #dd4024;
}

.progress-ring-circle {
  stroke: #2F2E34;
  stroke-linecap: round;
  stroke-dasharray: 163.36;
  stroke-dashoffset: 163.36;
  transition: stroke-dashoffset 0.3s ease;
}


/* navigaition */




.navigation{
  position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   background-color: var(--white-shade);
   
 }

 .nav-bar{
  padding: 40px 0px;
 }




 .logo{
   height: 40px;
 }

 

 .logo img{
   object-fit: cover;
   z-index: 2  ;
 }

 .search-box {
   border: none;
   outline: none;
   box-shadow: none;
   width: 250px;
 }
 .search-box:focus {
   border: none;
   outline: none;
   box-shadow: none;
 }

 .search-box::placeholder {
   color: var(--primary-color);
   font-size: 16px;
   font-weight: 200;
 }

 .search-box:focus::placeholder {
   color: transparent;
 }

 .search-container {
   border: 0.5px solid var(--primary-color);
   padding: 8px 16px;
   display: flex;
   align-items: center;
   border-radius: 30px; 
 }

 .divider {
   height: 90%;
   width: 1px;
   background-color:var(--primary-color);
   margin: 0 12px;
 }

 .search-icon {
   font-size: 18px;
   color: var(--primary-color);
   cursor: pointer;  
 }

 .nav-items-list{
   gap: 40px;
 }

 .nav-item{
   font-size: 16px;
   font-weight: 300;
   color: var(--primary-color);
   text-transform: uppercase;
   text-decoration: none;
   transition: all 0.3s ease;
   position: relative;
  


 }

 .nav-item:hover{
   color: var(--primary-color);

   
 }


 .nav-item::before{
   content: "";
   position: absolute;
   width: 0;
   height: 2px;
   background: linear-gradient(to right, #dd4024, #ffa013);
   bottom: -5px;
   left: 0;
   transition: all 0.2s ease;
 }

 .nav-item:hover::before{
   width: 100%;
 }

 .bar {
   /* width: 25px; */
   cursor: pointer;
 }

 
/* hero section */

.hero-section {
  height: 115vh;
  position: relative;
  background-color:#efefef ;
}

  .hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .hero-title{
    font-size: clamp(60px, 15vw, 200px);
    font-weight: 900;
    line-height: 0.9;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .hero-para{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
    text-transform: uppercase;
    z-index: 7;
  }
  

  .hero-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-container .fake-div{
    background-color: #2f2e3492;
    backdrop-filter: blur(1px);
  }




  .hero {
    height: 100%;
    padding: 50px 0;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;


  }

  
 

  .hero-content2{
    width: 0%;
    position: absolute;
    right: 0;
    background-color: violet;
  }

  .hero-content2-1{
  
    position: relative;
    background-color: #dd4024;
    width: 0%;
  }
 



  .time-cs{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-color);
    position: absolute;
    rotate: 90deg;
    white-space: nowrap;
    right: -188px;
    
  }

  .fake-div{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ed142399;
    backdrop-filter: blur(4px);
  }

  /* hero tag scroll  */

  




  /* video container  */

  .video-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }

  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  

  }

  .overlayvc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .btn-secondary{
    background: var(--secondary-color);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--white-shade);

  }

  /* about-section */


  
   .about-section{

   background-color: var(--white-shade);
   

  } 

  .about{
    padding: 100px 0;   
    position: relative;
  }

  

  .about-title{
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  .about-subtitle{
    font-size: calc(18px + 1.5vw);
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .about-content{
    z-index: 2;
  }
 
  .section-about__img{
    object-fit: cover;
    object-position: center;
    z-index: 1;
   width: 70%;
    height:600px;

  }


  .about-para{
    font-size: 18px;
    color:var(--para-shade);
    text-wrap: balance;

    
  }

  .about-title-2{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .about-item{
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
  }

  .about-item-img{
    font-size: 40px;
  }

  .about-item-img-1{
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-color: #9d9a9a8c;
  }

  .about-content-3{
    position: relative;
    height: 250px;
  }

  .about-image-2{
    height: 100%;
    left: -180px;
    position: absolute;
    border: 30px solid var(--white-shade);
    
    
  }
  .about-img-grid{
    height: 100%;
  }

  .about-image-2-1{
            background-image: url("https://cdn.pixabay.com/photo/2015/08/27/09/06/bike-909690_1280.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
            
  }

  .about-image-2-2{
            background-image: url("https://cdn.pixabay.com/photo/2015/08/27/09/06/bike-909690_1280.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
  }


  /* accessories product  */

  .latest-section{
    background-color: var(--white-shade);
  }

  .all-catogories{
    font-size: 48px;
    font-weight: 700;
    color: var(--white-shade);
    text-transform: uppercase;
  }

  .latest-container{
    padding:50px 0 ;
    /* background-color: var(--primary-color); */
  }

  .view-all p{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    /* text-transform:capitalize; */
    text-decoration: none;
    cursor: pointer;
  }

  
  .horizontal-line{
    height: 0.5px;
    background-color: #2f2e344b;
  }
    
  .latest-title{
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: capitalize;

  }

  .latest-para{
    font-size: 16px;
    font-weight: 300;
    color: var(--para-shade);
    text-align: center;
    text-wrap: balance;
    letter-spacing: 0.3;
  }

  .latest-item{
    padding: 15px;
    background-color: var(--white-shade);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000020;
    transition: all 0.3s ease;
  }

 

 

  

  .latest-item-img{
    height: 200px;
    border-radius: 10px;
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    position: relative;

  }

  /* carasoul  */


  .carousel-track {
      display: flex;
      transition: transform 0.3s ease;
    }

    .card1 {
      border-radius: 10px;
      overflow: hidden;
      

    }

    .card1 img {
      height: 100%;
      width: 80%;
      object-fit: cover;
      object-position: center;
    }

     .card-btn {
      text-align: center;
      margin-top: 15px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    .btn-cara {
      background-color: transparent;
      color: var(--white-shade);
      padding:5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .dots {
      height: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 3px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }

    .dot {
      width: 6px;
      height:6px;
      border-radius: 50%;
      background-color: var(--white-shade);
      transition: background-color 0.3s ease;
    }

    .dot.active {
      background-color: var(--primary-color);
    }

    


/* 
  .latest-item-img img{
    object-fit: contain;
    object-position: center;
  } */

  .latest-title-2-1-fake{
    font-size: 12px;
    font-weight: 500;
    color: var(--para-shade);
    text-transform: uppercase;
    text-decoration: line-through;

  }
  .latest-title-2-1{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .latest-name{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .latest-desc{
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .latest-btn{
    height:40px;
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    outline: none;
    border: none;
    color: white;
    background-color: var(--para-shade);
    font-size: 20px;
    transition: all 0.3s ease;

  }

  .latest-btn:hover{
    cursor: pointer;
  }



  .latest-content-2-1::-webkit-scrollbar{
    height: 5px;
    background-color: var(--primary-color);
  }
  .latest-content-2-1::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
  }

  .latest-content-2-1::-webkit-scrollbar-thumb:hover{
    background-color: var(--white-shade);
    cursor: grabbing;
  }

  .latest-content-2-1::-webkit-scrollbar-track{
    background-color: var(--primary-color);
    border-radius: 30px;
    
  }

  

  .hero-tag{
    z-index: 2;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px #0000004a;

  }
  .hero-tag-main{
    box-shadow: 0px 0px 10px #0000004a;
  }

  .hero-tag-title{
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;

  }

  .hero-tag-item{
    margin: 0 10px;
    background-color: yellowgreen;
  }
  .hero-tag-item2{
    background-color: #dd4024;

  }

 

  
  .All-btn{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    
    
  }

  .All-btn a{
    color: var(--white-shade) !important;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    padding: 0px 60px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
    white-space: nowrap;
   

  }

  

  .All-btn a:hover{
    color: var(--primary-color) !important;
  }

  .All-btn a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--white-shade);
    right: 0px;
  }

  .hero-tag-item2::-webkit-scrollbar{
    height: 5px;
    background-color: var(--para-shade);
    border-radius: 10px;

  }

  .hero-tag-item2::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
    cursor:grabbing;

  }

 

  
  .search-bike {
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
  }

  .search-bike option {
    border-radius: 10px;


  }



  /* show-catory-section */

  .show-catory-section{
    background-color: var(--white-shade);
  }
  .show-catory{
        padding:  50px 0px;
  
  }

  .show-catory-1{
    height: 500px;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(to bottom, #e5feff, var(--white-shade));

  }
  


  .shop-catory-img{
    object-fit: cover;
    position: absolute;
    right: 10px;
    height: 90%;
  }

  .show-catory-2{
    height: 500px;
  }

  .shop-catory-2-1 {
    height: 240px;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(to bottom, #fce4ee, var(--white-shade));
  }

  .shop-catory-2-2{
    background: linear-gradient(to bottom, #e2e8ff, var(--white-shade));

  }

  .shop-catory-title{
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 700;
    color: var(--primary-color);
  }

  .shop-catory-2-1 .shop-catory-title{
    font-size: 24px;
    line-height: 1;
  }

  .discount{
    
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(171, 250, 52);
    padding: 5px 10px;
    color:var(--primary-color) ;
    border-radius: 20px;
    z-index: 4;
    font-size: 14px;

  }


  .shop-catory-para{
    font-size: 16px;
    font-weight: 300;
    color: var(--primary-color);
    line-height: 1.2;

  }

  

  .shop-catory-btn1{
    padding: 5px 12px ;
    font-size: 12px;
  }



  /* accessories-section */

  .accesories-section{
    background-color: var(--white-shade);
    padding: 100px 0;
  }

  .accessories-content-2{
    padding: 30px 0 0 0 ;
  }

  .accessories-title{
    font-size: 30px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .accessories-item{
    padding: 15px;
    background-color: var(--white-shade);
    border-radius: 15px;
    box-shadow: 0px 0px 5px  #00000028;
    transition: all 0.3s ease;
    position: relative;

  }
  

 
  .accessories-item-img{
    border-radius: 15px;
    background-color: #ffffff;
    height: 100%;
    box-shadow: 0px 0px 5px #00000028;
  }
  .accessories-item-img img{
    width: 90%;
    object-fit: contain;
    object-position: center;
  }

  .accessories-name{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .accessories-desc{
    font-size: 14px;
    font-weight: 300;
    color: var(--para-shade);
    text-transform: capitalize;
  }

  .accessories-price-fake{
    font-size: 14px;
    font-weight: 500;
    color: var(--para-shade);
    text-decoration: line-through;
    text-transform: capitalize;
  }

  .accessories-price{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .accessories-btn-see{
    height:35px;
    width: 35px;
    border-radius: 50%;
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    color: var(--white-shade);
    border: none;
    /* position: absolute; */
    bottom: 10px;
    right: 10px;
  }

  .accessories-btn-add{
    padding: 5px 10px;
    font-size: 14px;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    color: var(--white-shade);
    border-radius: 5px;
    border: none;
  }

  .line-2{
    height: 0.5px;
    background-color: var(--primary-color);
  } 

  .accessories-see-all{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  

  

  


 



  






  
