@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,p,h1,h2,h3,h4,h5,h6,ul,li,ol{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat", sans-serif;
    
}

:root{
    
    --secondary-color:#dd4024;
    --primary-color:#2F2E34;
    --white-shade:#efefef;
    --para-shade: #777777;
    
    
    
}

body{
    position: relative;
    background-color: var(--primary-color);
}


/* navigaition */



.navigation{
  position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   
 }

 .nav-bar{
  padding: 40px 0px;
 }




 .logo{
   height: 40px;
 }

 

 .logo img{
   object-fit: cover;
   z-index: 2  ;
 }

 .search-box {
   border: none;
   outline: none;
   box-shadow: none;
   width: 250px;
 }
 .search-box:focus {
   border: none;
   outline: none;
   box-shadow: none;
 }

 .search-box::placeholder {
   color: var(--text-color);
   font-size: 16px;
   font-weight: 200;
 }

 .search-box:focus::placeholder {
   color: transparent;
 }

 .search-container {
   border: 0.5px solid var(--primary-color);
   padding: 8px 16px;
   display: flex;
   align-items: center;
   border-radius: 30px; 
 }

 .divider {
   height: 90%;
   width: 1px;
   background-color:var(--text-color);
   margin: 0 12px;
 }

 .search-icon {
   font-size: 18px;
   color: var(--text-color);
   cursor: pointer;  
 }

 .nav-items-list{
   gap: 40px;
 }

 .nav-item{
   font-size: 16px;
   font-weight: 300;
   color: var(--text-color);
   text-transform: uppercase;
   text-decoration: none;
   transition: all 0.3s ease;
   position: relative;
  


 }

 .nav-item:hover{
   color: var(--primary-color);

   
 }


 .nav-item::before{
   content: "";
   position: absolute;
   width: 0;
   height: 2px;
   background: linear-gradient(to right, #dd4024, #ffa013);
   bottom: -5px;
   left: 0;
   transition: all 0.2s ease;
 }

 .nav-item:hover::before{
   width: 100%;
 }

 .bar {
   /* width: 25px; */
   cursor: pointer;
 }

 
/* hero section */

.hero-section {
  height: 115vh;
  position: relative;
  background-color:#efefef ;
}

  .hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .hero-title{
    font-size: clamp(60px, 15vw, 200px);
    font-weight: 900;
    line-height: 0.9;
    color: var(--text-color);
    text-transform: uppercase;
  }

  .hero-para{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 10px;
    color: var(--text-color);
    text-transform: uppercase;
    z-index: 7;
  }
  

  .hero-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-container .fake-div{
    background-color: #2f2e3492;
    backdrop-filter: blur(1px);
  }




  .hero {
    height: 100%;
    padding: 50px 0;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;


  }

  
 

  .hero-content2{
    width: 0%;
    position: absolute;
    right: 0;
    background-color: violet;
  }

  .hero-content2-1{
  
    position: relative;
    background-color: #dd4024;
    width: 0%;
  }
 



  .time-cs{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
    position: absolute;
    rotate: 90deg;
    white-space: nowrap;
    right: -188px;
    
  }

  .fake-div{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ed142399;
    backdrop-filter: blur(4px);
  }

  /* hero tag scroll  */

  

  .hero-tag{
    /* height: 70px; */
    z-index: 2;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px #0000004a;

  }

  .hero-tag-title{
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 800;

  }

  .hero-tag-item{
    margin: 0 10px;
    background-color: yellowgreen;
  }

  .hero-tag-item2::-webkit-scrollbar{
    height: 2px;
    background-color: #24181846;

  }

  .hero-tag-item2::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
  }

  .hero-tag-item2::-webkit-scrollbar-thumb:hover{
    background-color: #ddd;
  }

  

  .hero-tag-main{
    box-shadow: 0px 0px 10px #0000004a;
    padding: 10px;
  }

  .All-btn{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
    
  }

  .All-btn a{
    color: var(--white-shade) !important;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    padding: 0px 22px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 600;
  }

  .All-btn a:hover{
    color: var(--primary-color) !important;
  }

  .All-btn a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--white-shade);
    right: 0px;
  }


  /* video container  */

  .video-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }

  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  

  }

  .overlayvc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .btn-secondary{
    background: linear-gradient(to right, #dd4024, #ffa013);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--white-shade);

  }

  /* about-section */


  
   .about-section{

   background-color: var(--white-shade);
   

  } 

  .about{
    padding: 100px 0;   
    position: relative;
  }

  

  .about-title{
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  .about-subtitle{
    font-size: calc(18px + 1.5vw);
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .about-content{
    z-index: 2;
  }
 
  .section-about__img{
    object-fit: cover;
    object-position: center;
    z-index: 1;
   width: 70%;
    height:600px;

  }


  .about-para{
    font-size: 18px;
    color:var(--para-shade);
    text-wrap: balance;

    
  }

  .about-title-2{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .about-item{
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
  }

  .about-item-img{
    font-size: 40px;
  }

  .about-item-img-1{
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-color: #9d9a9a8c;
  }

  .about-content-3{
    position: relative;
    height: 250px;
  }

  .about-image-2{
    height: 100%;
    left: -180px;
    position: absolute;
    border: 30px solid var(--white-shade);
    
    
  }
  .about-img-grid{
    height: 100%;
  }

  .about-image-2-1{
            background-image: url("https://cdn.pixabay.com/photo/2015/08/27/09/06/bike-909690_1280.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
            
  }

  .about-image-2-2{
            background-image: url("https://cdn.pixabay.com/photo/2015/08/27/09/06/bike-909690_1280.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
  }


  /* feature product  */

  .feature-section{
    background-color: var(--primary-color);
  }

  .feature-container{
    padding: 100px 0;
  }
  .feature-title{
    font-size: 48px;
    font-weight: 700;
    color: var(--white-shade);
    text-transform: uppercase;
  }

  .feature-para{
    font-size: 18px;
    font-weight: 300;
    color: var(--para-shade);
    text-align: center;
    text-wrap: balance;
  }
  .feature-item{
    padding: 30px;
    background-color: #FFFFFF0F;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000004a;
  }

  .feature-item-img{
    height: 200px;
    border: 1px solid var(--para-shade);
    border-radius: 10px;
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    padding: 10px;

  }
  .feature-item-img img{
    object-fit: contain;
    object-position: center;
  }
  .feature-title-2-1{
    font-size: 16px;
    font-weight: 500;
    color: var(--white-shade);
    text-transform: uppercase;
  }

  .feature-name{
    font-size: 16px;
    font-weight: 600;
    color: var(--white-shade);
    text-transform: capitalize;
  }

  .feature-desc{
    font-size: 14px;
    font-weight: 300;
    color: var(--white-shade);
    text-transform: capitalize;
  }

  .feature-btn{
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--white-shade);
    background-color: var(--secondary-color);
  }



  






  
